
git+https://github.com/hudscomdz/scikit-anfis.git@790db6bcad7da531e9905b19311f07bec0c1ff5b

less-learn==0.5.0
numpy==2.4.3
scipy==1.17.1
scikit-learn==1.8.0
pandas==2.3.3
matplotlib==3.10.6
seaborn==0.13.2
statsmodels==0.14.5
xgboost==3.2.0
lightgbm==4.6.0
scikit-pytsk==0.0.6
ANFISpy==1.1.5
qpsolvers[open_source_solvers]==4.8.1
fastparquet==2024.11.0
joblib==1.5.3
torch==2.8.0
ipykernel==6.30.1
